{
  "rules": {
    "no-use-before-define": [2, "nofunc"],
    "no-shadow": 0,
    "prefer-const": 1,
    "quote-props": [1, "consistent-as-needed"],
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "react/no-array-index-key": 0,
    "space-before-function-paren": [
      2,
      { "anonymous": "always", "named": "never" }
    ],
    "prettier/prettier": "error",
    "no-console": ["warn", { "allow": ["info", "error"] }]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  }
}
